<div class="loading" [style.display]="isLoadingResults == true ? 'block' : 'none'">Loading&#8230;</div>
<app-menu></app-menu>
<div class="card">
    <div class="card-header">
      {{acao}}
    </div>
    <div class="card-body">
        <div class="row justify-content-md-center">
            <div class="col-1">
            </div>
            <div class="col-10">
                <form class="needs-validation" novalidate enctype="multipart/form-data">
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label text-lg-right">E-mail:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="transportadora.email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label text-lg-right">Nome:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="transportadora.nome">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label text-lg-right">Empresa:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="empresa" name="empresa" mask="00.000.000/0000-00" [(ngModel)]="transportadora.empresa">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label text-lg-right">Telefone:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="telefone" name="telefone" mask="(00) 0000-0000" [(ngModel)]="transportadora.telefone">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label text-lg-right">Celular:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="celular" name="celular" mask="(00) 0000-0000" [(ngModel)]="transportadora.celular">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label text-lg-right">Whatsapp:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="whatsapp" name="whatsapp" mask="(00) 00000-0000" [(ngModel)]="transportadora.whatsapp">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label text-lg-right">Modal:</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="modal" name="modal" [(ngModel)]="transportadora.modal.id">
                                <option *ngFor="let m of listaModal" value= {{m.id}}>
                                    {{m.descricao}}
                                </option>
                            </select>
                        </div>    
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label text-lg-right">CEP:</label>
                        <div class="col-lg-4 col-sm-5">
                            <input type="text" class="form-control" id="cep" (change)="getDadosCep()" mask="00000-000" name="cep" [(ngModel)]="transportadora.cep">
                        </div>    
                        <label class="col-lg-2 col-form-label text-lg-right">Estado:</label>
                        <div class="col-lg-4 col-sm-5">
                            <select class="form-control" id="uf" name="uf" [(ngModel)]="transportadora.uf">
                                <option *ngFor="let unidadeFederativa of listaUnidadeFederativa" value= {{unidadeFederativa.sigla}}>
                                    {{unidadeFederativa.sigla}}
                                </option>
                            </select>
                        </div> 
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label text-lg-right">Cidade:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="cidade" name="cidade" [(ngModel)]="transportadora.cidade">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label text-lg-right">Bairro:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="bairro" name="bairro" [(ngModel)]="transportadora.bairro">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label text-lg-right">Rua/Avenida:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="rua" name="rua" [(ngModel)]="transportadora.rua">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label text-lg-right">Número:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="numero" name="numero" [(ngModel)]="transportadora.numero">
                        </div>
                    </div>
                    <div class="form-group row justify-content-md-center">
                        <label class="col-md-12 text-center">Logo:</label>
                        <div class="col-md-3">
                            <div class="avatar-upload">
                                <div class="avatar-edit">
                                    <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" (change)="onFileChanged($event)"/>
                                    <label for="imageUpload"></label>
                                </div>
                                <div class="avatar-preview">
                                    <div id="imagePreview">
                                        <img class="imagemLogo" [src]="transportadora.imagem">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row justify-content-md-center" *ngIf="acao=='Cadastrar'">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" (change)="changeTermo($event)" id="checkbox">
                            <label class="form-check-label" for="checkboxlabel">Eu aceito os termos de serviço</label>
                        </div>
                    </div>
                    <div class="alert alert-danger alert-dismissible fade show" [style.display]="listaErro.length == 0 ? 'none' : 'block'" role="alert">
                        <div *ngFor="let erro of listaErro">
                            <p>- {{erro}} </p>
                        </div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="form-group row justify-content-md-center" *ngIf="acao=='Cadastrar'">
                        <button class="btn btn-primary btn-block" (click)="postInserir()">Cadastre-se Agora!</button>
                    </div>
                    <div class="form-group row justify-content-md-center" *ngIf="acao!='Cadastrar'">
                        <div class="col-6">
                            <button class="btn btn-primary btn-block" (click)="postAlterar()">Atualizar</button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#modalDeleteCenter">Deletar</button>
                            <!-- Modal -->
                            <div class="modal fade" id="modalDeleteCenter" tabindex="-1" role="dialog" aria-labelledby="modalDeleteCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="modalDeleteCenterTitle">Confirmação de exclusão?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                        Deseja realmente excluir a transportadora de codigo {{transportadora.id}}?
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="postDeletarPorId(transportadora.id)">Sim</button>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-1">
            </div>
        </div>
    </div>
</div>