<app-menu></app-menu>
<div class = "row">
    <div class="col-12" *ngIf="erro!=null">
        <h5 class="row justify-content-md-center">{{erro}}</h5>
    </div>

        <div class="row">
            <div class="col-md-3">
                <p>Transportadoras</p>
            </div>
            <div class="col-md-9" *ngFor="let transportadora of listaTransportadora">
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-1">
                            <img src="../../../assets/image_transportadora_1.png" class="card-img padding-logo" alt="...">
                        </div>
                        <div class="col-md-4">
                            <div class="card-body">
                                <h5 class="card-title"><a (click)="chamaTelaVisualizar(transportadora.id)"> {{transportadora.nome}} </a></h5>
                                <p class="card-text">{{transportadora.empresa}}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-body">
                                <h5 class="card-title">{{transportadora.telefone}} {{transportadora.celular}}</h5>
                                <p class="card-text">{{transportadora.email}}</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                            <p class="card-title">Fale agora: {{transportadora.whatsapp}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        

</div>
